@import "tailwindcss";

body {
  font-family: Poppins, sans-serif;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
}
.pinkwave-bg {
  background-image: url('/pinkwave.svg');
  background-repeat: no-repeat;
  background-size: 100% auto; /* Stretches horizontally */
  background-position: center; /* Aligns to the left */
  width: 100%;
  height: 300px; /* Adjust as needed for your design */
  position: relative;
}
